@import url(https://fonts.googleapis.com/css?family=Source+Sans+3);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+3:700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+3:900);
@import url(https://fonts.googleapis.com/css?family=Exo+2);
@import url(https://fonts.googleapis.com/css?family=Exo+2:700);
@import url(https://fonts.googleapis.com/css?family=Exo+2:900);

:root {
    --mainfont: 'Exo 2';
    --secondgreen: #028d32;
    --maingreen: #04ba44;
    --maingrey: #9fb1ab;
    --mainblue: #04083b;
    --buttonsize: 2vmax;
    --textsize: 1.5vmax;
    --titlesize: 4vmax;
}

* {
    font-family: var(--mainfont);
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 0vmax;
}

#title {
    font-family: var(--mainfont);
    font-weight: 700;
    font-size: var(--titlesize);
    color: white;
    background-color: var(--maingreen);
    padding: 1vmax;
    user-select: none;
}


#contextmenu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2vmax;
    padding: 0 1vmax;
    background-color: var(--maingrey);
}

#contextmenu>.button {
    padding: 0.5vmax 0.5vmax;
    color: white;
}


.button {
    background-color: transparent;
    padding: 0.6vmax 0.4vmax;
    font-size: var(--buttonsize);
    cursor: pointer;
    user-select: none;
}

#contextmenu>.button:hover {
    background-color: var(--mainblue);
    color: white;
}

.pressedbutton {
    background: var(--mainblue);

}

#downloadcvpanel {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#downloadcvpanel>.button {
    text-decoration: none;
    color: black;
    border-radius: 0 1.5vmax 0 1.5vmax;
    font-size: var(--textsize);
}

#downloadcvpanel>.button:hover {
    color: white;
    background-color: var(--maingreen);
}

#contentpanel>div * {
    max-width: 90vw;
}


.cvcontainer {
    display: flex;
    font-size: var(--textsize);
    flex-direction: column;
    gap: 1vmax;
    padding: 1vmax;
}

.presentationcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--textsize);
    height: 45vmax;
}

.presentationcontainer>div {
    text-align: center;
    width: 60vmax;
}

#mainimg {
    width: 20vmax;
    height: auto;
    border-radius: 2vmax;
}