@import url(https://fonts.googleapis.com/css?family=Source+Sans+3);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+3:bold);

* {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
}

#contextmenu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.contextbutton {
    background-color: blue;
}