.projectscontainer {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    font-size: var(--ptextsize);
}

.projectscontainer>:nth-child(1) {
    font-size: var(--pheadersize);
}

#projectslider {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 100%;
    overflow-x: hidden;
}

#projectslider::-webkit-scrollbar {
    display: none;
}

.projectdiv {
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
    color: var(--mainblue);
    padding: 1vw;
    border: var(--mainblue) solid;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    position: relative;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    transition: all 0.8s;
    left: 0%;
    transition: all 0.5s ease-in-out;
}

@media (hover: hover) {
    .projectdiv:hover {
        border: solid var(--mainblue) calc(var(--pimgw)*0.03);
        border-radius: 0 calc(var(--pimgw)*0.1);
    }

    @keyframes selectedp {
        from {
            background-color: transparent;
            color: var(--mainblue);
        }

        to {
            background-color: var(--mainblue);
            color: white;
        }
    }

    @keyframes unselectedp {
        to {
            background-color: transparent;
            color: var(--mainblue);
        }

        from {
            background-color: var(--mainblue);
            color: white;
        }
    }

    .projectscontainer .projectdiv.selectedp {
        animation: selectedp 0.5s forwards;
        animation-delay: 0.2s;
        border: solid var(--mainblue) calc(var(--pimgw)*0.03);
        border-radius: 0 calc(var(--pimgw)*0.1);
    }

    .projectscontainer .projectdiv.unselectedp {
        animation: unselectedp 0.4s forwards;
    }
}

@media (hover: none) {
    @keyframes selectedp {
        from {
            background-color: transparent;
            color: var(--mainblue);
            border: solid var(--mainblue);
        }

        to {
            background-color: var(--mainblue);
            color: white;
            border: solid var(--mainblue) 0.8vw;
        }
    }

    @keyframes unselectedp {
        to {
            background-color: transparent;
            color: var(--mainblue);
        }

        from {
            background-color: var(--mainblue);
            color: white;
        }
    }


    .projectscontainer .projectdiv.selectedp {
        animation: selectedp 0.5s forwards;
        animation-delay: 0.2s;
        border-radius: 0 calc(var(--pimgw)*0.1);
    }

    .projectscontainer .projectdiv.unselectedp {
        animation: unselectedp 0.4s forwards;
    }
}

@keyframes enlargetitle {
    to {
        font-size: calc(var(--ptitlesize)*1.5);
    }

    from {
        font-size: var(--ptitlesize);
    }
}

@keyframes shrinktitle {
    from {
        font-size: calc(var(--ptitlesize)*1.5);
    }

    to {
        font-size: var(--ptitlesize);
    }
}

.projectdiv>div:nth-child(2) {
    font-size: calc(var(--ptitlesize)*1.5);
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    text-wrap: wrap;
    min-width: 23vw;
    flex-grow: 1;
}

.projectdiv.selectedp>div:nth-child(2) {
    animation: shrinktitle 0.2s forwards;
}

.projectdiv.unselectedp>div:nth-child(2) {
    animation: enlargetitle 0.8s forwards;
}

#contentpanel .projectdiv>img {
    max-width: var(--pimgw);
    max-height: calc(var(--pimgw)*9/16);
    border-radius: 1.5vw;
}

#contentpanel .projectdiv.selectedp>img {
    animation: shrinkimg 0.3s forwards;
}

#contentpanel .projectdiv.unselectedp>img {
    animation: enlargeimg 0.3s forwards;
}

@keyframes shrinkimg {
    from {
        max-width: var(--pimgw);
        max-height: calc(var(--pimgw)*9/16);
    }

    to {
        padding-top: calc(var(--pimgw)*0.15*9/16);
        padding-bottom: calc(var(--pimgw)*0.15*9/16);
        max-width: calc(var(--pimgw)*0.7);
        max-height: calc(var(--pimgw)*0.7*9/16);
    }
}

@keyframes enlargeimg {
    to {
        max-width: var(--pimgw);
        max-height: calc(var(--pimgw)*9/16);
    }

    from {
        padding-top: calc(var(--pimgw)*0.15*9/16);
        padding-bottom: calc(var(--pimgw)*0.15*9/16);
        max-width: calc(var(--pimgw)*0.7);
        max-height: calc(var(--pimgw)*0.7*9/16);
    }
}

.pdescription {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.pdescription.visibledescription {
    display: block;
    visibility: visible;
    width: auto;
    height: auto;
    opacity: 0;
    max-width: 0;
    max-height: 0;
    padding-right: 2vw;
    animation: appear1 0.4s forwards, appear2 0.4s forwards;
    animation-delay: 0s, 0.1s;
}

.pdescription.hiddendescription {
    display: block;
    visibility: visible;
    width: auto;
    height: auto;
    opacity: 1;
    max-width: 100vw;
    max-height: 18vw;
    animation: disappear1 0.4s forwards, disappear2 0.4s forwards;
    animation-delay: 0s, 1s;
}

@keyframes appear1 {
    from {
        max-width: 0;
        max-height: 0;
    }

    to {
        max-width: 100vw;
        max-height: 18vw;
    }

}

@keyframes appear2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes disappear1 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        font-size: 0;
    }
}

@keyframes disappear2 {
    from {
        max-width: 100vw;
        max-height: 18vh;
    }

    to {
        max-width: 0;
        max-height: 0;
    }
}

#index {
    position: relative;
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    width: 100vw;
}

.indexcircle {
    height: var(--indexradius);
    width: var(--indexradius);
    background-color: white;
    border: var(--mainblue) solid calc(var(--indexradius)*0.01);
    border-radius: 50%;
    transition: all 0.5s;
}

.indexcircle.selectedcircle {
    background-color: var(--maingreen);
    border: var(--maingreen) solid calc(var(--indexradius)*0.01);
}

.descanchor {
    text-decoration: none;
    font-weight: bold;
    color: var(--desclinkblue);
}

.descanchor:hover {
    text-decoration: underline;
}