#projectslider {
    position: static;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: hidden;
}

#projectslider::-webkit-scrollbar {
    display: none;
}

.projectdiv {
}

#index {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    width: 100vw;
}

.indexcircle {
    height: 15px;
    width: 15px;
    background-color: white;
    border: black solid 2px;
    border-radius: 50%;
    transition: all 0.8s;
}

.indexcircle.selectedcircle {
    background-color: green;
    border: green solid 2px;
}